@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

canvas {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Press Start 2P", cursive;
    color: white;
    background-color: #000;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    overflow: hidden;
    background-color: black;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.menu-buttons {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    width: 280px;
    margin: 10px auto;
    padding: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    display: block;
    font-size: 20px;
    background-color: #555555;
    transition: transform 0.2s ease, background-color 0.1s ease;
    font-family: "Press Start 2P", cursive;
    box-shadow: 0 0 5px #000;
    user-select: none;
}

.menu-buttons:hover, #back-to-menu:hover {
    background-color: #777;
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 15px #fff;
    border-color: #fff;
}

.score {
    position: absolute;
    color: white;
    top: 20px;
    bottom: 50px;
    font-size: 40px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

#timer {
    position: absolute;
    top: 5px;
    font-size: 20px;
    visibility: hidden;
}

#back-to-menu {
    position: absolute;
    border: 2px solid white;
    cursor: pointer;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 94%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #555555;
    font-family: "Press Start 2P", cursive;
    visibility: hidden;
}

#singleplayer {
    top: 45%;
}

#multiplayer {
    top: 55%;
}

#turboMode {
    top: 65%;
}

#settings {
    top: 75%;
}

#exit {
    top: 85%;
}

#info {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Press Start 2P", cursive;
    font-size: 80px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

#pnum {
    visibility: hidden;
    position: absolute;
}

#player-one-score {
    left: 50%;
    transform: translateX(-150%);
    visibility: hidden;
}

#player-two-score {
    left: 50%;
    transform: translateX(40%);
    visibility: hidden;
}

#colon {
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}

@keyframes float {
    0%, 100% {
        transform: translate(-50%, -50%) translateY(0);
    }
    50% {
        transform: translate(-50%, -50%) translateY(-10px);
    }
}

#title {
    position: absolute;
    text-align: center;
    bottom: 64%;
    left: 50%;
    font-size: 80px;
    transform: translate(-50%, -50%);
    color: rgb(223, 223, 223);
    font-family: "Press Start 2P", cursive;
    animation: float 2s ease-in-out infinite;
    cursor: default;
    user-select: none;
}

#title2 {
    position: absolute;
    text-align: center;
    bottom: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(223, 223, 223);
    font-size: 30px;
    font-family: "Press Start 2P", cursive;
    animation: float 2s ease-in-out infinite;
    cursor: default;
    user-select: none;
}

#map-picker {
    text-align: center;
    color: black;
    font-size: 30px;

}

.map-gallery {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: ghostwhite;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.map-thumbnail {
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: transform 0.3s, border 0.3s;
}

.map-thumbnail:hover {
    transform: scale(1.1);
    border: 2px solid #555;
}

.map-gallery button {
    padding: 10px 20px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #555555;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.1s ease;
    font-family: "Press Start 2P", cursive;
}

.map-gallery button:hover {
    background-color: #777;
    transform: scale(1.1);
    box-shadow: 0 0 15px #fff;
    border-color: black;
}

.fontNotLoaded {
    visibility: hidden;
}

.settings-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.settings-options .menu-buttons {
    margin-bottom: 20px;
}

.random-event-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

